.advantages {
  width: auto;
  background-color: @bg-gray;
}

.advantages__promo {
  display: block;
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
  text-align: center;
}

.advantages__promo--question {
  display: block;
  margin-bottom: 40px;
}

.advantages__list {
  padding: 0;
  background-color: @bg-gray;
  list-style: none;
}

.advantages__item {
  display: block;
  margin: 40px auto;
  text-align: center;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.advantages_description {
  margin-top: 17px;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .advantages__promo {
    width: 587px;
    margin: 0 auto;
    margin-top: 59px;
    margin-bottom: 50px;
    font-size: 40px;
  }

  .advantages__promo--question {
    margin: 0;
  }

  .advantages__promo--answer {
    margin: 0;
  }

  .advantages__list {
    width: 306px;
    height: 490px;
    margin: 0 auto;
    padding-left: 310px;
  }

  .advantages__item {
    margin-bottom: 45px;
  }

  .advantages__image {
    display: none;
    order: -3;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 960px;
    height: 716px;
  }

  .advantages__list {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  .advantages__item {
    width: 236px;
  }

  .advantages__image {
    display: none;
  }
}
