.advantages {
  width: auto;
}

.advantages__promo {
  display: block;
  width: 205px;
  margin: 45px auto 30px;
  font-size: 24px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
}

.advantages__promo--question {
  display: block;
  margin-bottom: 40px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__wrapper {
  padding-top: 80px;
  background-color: #f2f2f2;
  background-image: url("./../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 0;
}

.advantages__item {
  display: block;
  width: 255px;
  margin: 40px auto;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }
}

.advantages__image {
  margin-top: 40px;
}

.advantages__item--bottom {
  display: none;
}

.advantages__image--desktop {
  display: none;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}

.advantages__description {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
  }

  .advantages__promo {
    width: 620px;
    margin: 59px auto 22px;
    font-size: 40px;
    line-height: 45px;
  }

  .advantages__promo--question {
    margin: 0 auto;
  }

  .advantages__promo--answer {
    display: block;
    width: 335px;
    margin: 0 auto;
  }

  .advantages__wrapper {
    margin-top: 50px;
    padding-top: 0;
  }

  .advantages__list {
    position: relative;
    width: 310px;
    margin: 0 auto;
    padding-top: 75px;
    padding-left: 310px;
    padding-bottom: 45px;
    background-image: url("./../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 10px;
  }

  .advantages__item {
    width: 308px;
    margin: 0 0 42px 0;
    text-align: left;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }

  .advantages__image {
    display: none;
    order: -3;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin: 0;
  }

  .advantages__promo {
    width: 750px;
    margin: 70px auto;
    font-size: 50px;
    line-height: 60px;
  }

  .advantages__promo--answer {
    width: 420px;
  }

  .advantages__list {
    width: 880px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    background-image: none;
  }

  .advantages__item {
    width: 240px;
    margin: 0;
    text-align: center;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__image {
    display: none;
  }

  .advantages__image--desktop {
    display: block;
    margin: 0 -30px;
  }

  .advantages__title {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1;
  }
}
