.app {
  background-color: @bg-darkblue;
  color: @white;
}

.app__download-link {
  margin: 28px 0 32px 0;
  padding: 15px 33px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @white;
  border: 3px solid @white;
  border-radius: 30px;
  text-decoration: none;
}

.app__app-logo {
  list-style: none;
}

.app-logo_icon--apple {
  background-image: url("./../img/logo-apple.svg");
  background-repeat: no-repeat;
  width: 47px;
  height: 56px;
}

//.app-logo_icon--android {
//  background-image: url("");
//  background-repeat: no-repeat;
//  width: 47px;
//  height: 56px;
//}

.app__available {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
