.app {
  width: auto;
  color: #ffffff;
  background-color: @bg-darkblue;
}

.app__promo {
  padding-top: 28px;
}

.app__slogan {
  display: none;
  margin: 0 auto 39px;
  width: 186px;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  font-weight: 300;
}

.app__download-link {
  display: block;
  text-align: center;
  width: 275px;
  margin: 0 auto 32px;
  padding: 17px 0;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
}

.app__app-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;
  list-style: none;
}

.app__image {
  position: relative;
  background-image: url("./../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 462px;
}

.app__image--hand {
  position: absolute;
  bottom: 0;
  //left: 0;
}

.app-logo__icon a {
  display: inline-block;
}

.app-logo__icon--apple {
  margin-right: 34px;
  background-image: url("./../img/logo-apple.svg");
  background-repeat: no-repeat;
  width: 47px;
  height: 56px;
}

.app-logo__icon--android {
  margin-top: 8px;
  margin-right: 37px;
  background-image: url("./../img/logo-android.svg");
  background-repeat: no-repeat;
  width: 43px;
  height: 47px;
}

.app-logo__icon--microsoft {
  margin-top: 12px;
  background-image: url("./../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  width: 44px;
  height: 41px;
}

.app__available {
  display: block;
  width: 230px;
  margin: 0 auto;
  padding-bottom: 35px;
  text-align: center;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .app {
    min-height: 730px;
  }

  .app__image {
    position: relative;
    background-image: url("./../img/bg-back-tablet@1x.jpg");
    background-position: center;
    width: auto;
    height: 729px;
    z-index: 2;
  }

  .app__image--hand {
    width: 470px;
    height: 545px;
    left: 170px;
  }

  .app__promo {
    position: absolute;
    left: 80px;
    bottom: -70px;
    z-index: 10;
  }

  .app__slogan {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .app {
    width: 100%;
    min-height: 740px;
    margin: 0;
  }

  .app__container {
    padding: 0;
  }

  .app__image {
    background-image: url("./../img/bg-back-desktop@1x.jpg");
    background-position: center;
    width: auto;
    height: 853px;
  }

  .app__image--hand {
    width: 556px;
    height: 645px;
    left: 650px;
  }

  .app__promo {
    margin: 0 0 125px 135px;
    left: 80px;
    bottom: -70px;
  }
}
