.gallery {
  width: auto;
  margin: 0 auto;
}

.gallery__title {
  width: auto;
  max-height: 240px;
  background-color: @bg-darkblue;
  background-image: url("./../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.photo-title {
  width: 170px;
  padding: 35px 0 85px;
  margin: 0 auto;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.gallery__slogan {
  margin: 55px auto;
}

.gallery__slogan p {
  display: block;
  width: 245px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .gallery__title {
    max-height: 440px;
    background-image: url("./../img/bg-back-tablet@1x.jpg");
  }

  .photo-title {
    width: 350px;
    padding: 80px 0 150px;
    font-size: 50px;
  }

  .gallery__slogan {
    margin: 100px auto 80px;
  }

  .gallery__slogan p {
    width: 440px;
    font-size: 18px;
  }

  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    //.gallery {
    //  margin: 0;
    //}

    .gallery__container {
      width: 940px;
    }

    //.gallery__container {
    //  padding: 0;
    //}

    .photo-title {
      width: auto;
      height: 400px;
      background-image: url("./../img/bg-back-desktop@1x.jpg");
    }

    .gallery__slogan {
      width: 568px;
      margin-bottom: 92px;
    }

    .gallery__wrapper-inner {
      width: 940px;
    }
  }
}
