.gallery {
  width: 320px;
  margin: 0 auto;
}

.photo-title {
  margin: 0;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  color: #ffffff;
  background-color: @nav-color-dark;
  background-image: url("./../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 238px;
}

.gallery__slogan {
  display: block;
  width: 280px;
  margin: 54px auto 39px;
  line-height: 30px;
  text-align: center;
}

.user-photo {
  width: 280px;
  margin: 0 auto;
}

.user-photo--image-day {
  width: 320px;
  height: auto;
  margin: 0 -20px;
}

.user-photo__caption {
  display: block;
  width: 280px;
  margin: -10px auto 0 auto;
  background-color: @bg-gray;
}
