.gallery {
  width: auto;
  margin: 0 auto;
}

.gallery__slogan {
  margin: 55px auto;
}

.gallery__slogan p {
  display: block;
  width: 245px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .gallery__slogan {
    margin: 100px auto 80px;
  }

  .gallery__slogan p {
    width: 440px;
    font-size: 18px;
  }

  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .gallery__container {
    width: 940px;
  }

  .gallery__slogan p {
    width: 575px;
  }
}
