.main-nav {
  background-color: @bg-blue;
}

//.main-nav__toggle {
//  display: none;
//}

.main-nav__toggle {
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 50px;
  height: 24px;

  background-color: @blue;

  cursor: pointer;
  border: none;
}


.page-header__container--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 50px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.page-header__container--opened .main-nav__toggle {
  top: 22px;
  right: 20px;

  width: 24px;
  height: 23px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    right: 0;

    width: 24px;
    height: 4px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  margin: 0 -20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-nav__item {
  display: block;
  border-top: 1px solid @nav-color-light;
  border-bottom: 1px solid @nav-color-dark;
  box-sizing: border-box;
}

.main-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-nav__link {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 625px;
    margin: 0;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }

  .main-nav__link {
    font-weight: 400;
    padding: 45px 0;
  }
}
