.main-nav {
  margin: 0;
  padding: 0;
  background-color: @bg-blue;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.site-list_item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid @nav-color-light;
  border-bottom: 1px solid @nav-color-dark;
  box-sizing: border-box;
  list-style: none;
}

.site-list__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
}
