.main-nav {
  width: 320px;
  margin: 0 auto;
  background-color: @bg-blue;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid @nav-color-light;
  border-bottom: 1px solid @nav-color-dark;
  box-sizing: border-box;
  list-style: none;
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 623px;
    height: 110px;
  }
  .main-nav__item {
    border: none;
  }
}
