.modal {
  display: block;
  width: 320px;
  padding: 45px 0 50px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 1, 1, 0.15);

  &--error {
    display: none;
    margin-bottom: 90px;
  }

  &--request {
    display: none;
    padding-bottom: 0;
  }
}

.modal__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.modal__text {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  color: #283645;

  &--request {
    width: 265px;
    margin: 0 auto 30px;
  }
}

.modal__wrapper {
  display: block;
  width: auto;
  padding-top: 50px;
  padding-bottom: 54px;
  background-color: #f2f2f2;

  &--error {
    background-color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.modal__button {
  display: block;
  width: 276px;
  padding: 18px 22px;
  margin: 40px auto 0;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  border: 2px solid #2aab6d;
  color: #ffffff;
  background-color: #2aab6d;

  &--bg {
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .modal {
    width: 460px;
  }

  .modal__title {
    width: 220px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 40px;

    &--request {
      margin-bottom: 20px;
    }
  }

  .modal__text {
    width: 320px;
    font-size: 18px;
  }

  .modal__button {
    width: 295px;
  }
}

@media (min-width: @desktop-width) {
  .modal {
    width: 780px;
    padding: 51px 0 0;
  }

  .modal__title {
    width: 400px;
    margin-bottom: 20px;
  }

  .modal__text {
    width: 392px;
    margin-bottom: 55px;
    font-size: 18px;

    &--request {
      margin-bottom: 35px;
    }
  }

  .modal__wrapper {
    padding-top: 49px;
    padding-bottom: 55px;

    &--error {
      background-color: #f2f2f2;
      padding-top: 49px;
      padding-bottom: 55px;
    }
  }

  .modal__button {
    margin-top: 0;

    &--request {
      width: 456px;
    }
  }
}
