.page-header {
  display: flex;
  flex-direction: column;
  //* Временно фон//
  background-color: @bg-blue;
}

.page-header__logo {
  width: 150px;
  height: 69px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 109px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    width: auto;
    margin: 0;

    .page-header__logo {
      height: 110px;
    }
  }
}
