.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  display: block;
  width: 147px;
  margin: 40px auto 43px;
}

.page-footer__copyright {
  width: 140px;
  margin: 41px auto 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 620px;
    margin: 36px auto 39px;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }

  .social__list {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 940px;
  }

  .page-footer--index {
    display: block;
  }

  .page-footer__container {
    margin-top: 100px;
    margin-bottom: 85px;
    padding: 0;
  }
}
