.page-footer {
  width: auto;
  margin: 0 auto;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  display: block;
  width: 147px;
  margin: 0 auto 33px;
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  margin: 40px auto 40px;
}

.page-footer__copyright-link {
  padding-top: 5px;
  fill: #d22856;
}

.page-footer__copyright-text {
  margin: 0;
  padding: 5px 10px 10px 5px;
  line-height: 18px;
  text-align: center;
}

.page-footer__copyright-link:hover {
  fill: #283645;
}

.page-footer__copyright-link:focus {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: auto;
    margin: 36px auto 39px;
  }

  .page-footer--index {
    display: block;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 8px 0 4px 3px;
  }

  .page-footer__copyright-text {
    padding: 10px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 940px;
  }

  .page-footer--index {
    display: block;
  }

  .page-footer__container {
    margin-top: 70px;
    margin-bottom: 85px;
    padding: 0;
  }

  .page-footer__copyright {
    width: 160px;
  }

  .page-footer__copyright-text {
    padding: 6px 14px 9px 0;
    font-size: 18px;
  }
}
