.reviews {
  position: relative;
  margin-top: 50px;
}

.reviews input {
  display: none;
}

.reviews__list {
  position: relative;
  width: 280px;
  min-height: 225px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 50px;
  list-style: none;
}

.reviews__item {
  position: absolute;
  text-align: center;
  display: none;
}

.reviews__author-name {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.reviews__about-author {
  display: none;
}

.reviews__text {
  margin: 0;
  line-height: 30px;
}

.slider-controls {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 2;

  width: 100px;
  height: 15px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  display: inline-block;
  vertical-align: center;
  width: 6px;
  height: 6px;
  margin-right: 19px;
  background: #283645;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:last-child {
  margin-right: 0;
}

.review-1:checked ~ .slider-controls label[for="review-1"],
.review-2:checked ~ .slider-controls label[for="review-2"],
.review-3:checked ~ .slider-controls label[for="review-3"] {
  border: 3px solid #283645;
  opacity: 1;
  background-color: #ffffff;
}
//
.review-1:checked ~ .reviews__list > .reviews__item--1,
.review-2:checked ~ .reviews__list > .reviews__item--2,
.review-3:checked ~ .reviews__list > .reviews__item--3 {
  display: block;
}

@media (min-width: @tablet-width) {
  .reviews__list {
    width: 617px;
    min-height: 200px;
    padding-bottom: 40px;
  }

  .review-1:checked ~ .reviews__list > .reviews__item--1,
  .review-2:checked ~ .reviews__list > .reviews__item--2,
  .review-3:checked ~ .reviews__list > .reviews__item--3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 620px;
  }

  .reviews__author-name {
    order: 1;
    margin-top: 44px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__about-author {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 30px;
    order: 2;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    order: -2;
  }
}

@media (min-width: @desktop-width) {
  .reviews__list {
    width: 960px;
    margin: 0 auto;
    padding-top: 115px;
    padding-bottom: 0;
    background-image: url("./../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .review-1:checked ~ .reviews__list > .reviews__item--1,
  .review-2:checked ~ .reviews__list > .reviews__item--2,
  .review-3:checked ~ .reviews__list > .reviews__item--3 {
    width: 690px;
    padding-left: 125px;
    padding-right: 125px;
    margin: 0 auto;
  }

  .slider-arrows {
    position: relative;
  }

  .slider-arrows button {
    position: absolute;
    width: 22px;
    height: 40px;
    top: 143px;
    background-color: transparent;
    opacity: 0.3;
    border: none;
    cursor: pointer;
  }

  .arrow-left {
    left: 0;
    background-image: url("./../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .arrow-right {
    right: 0;
    background-image: url("./../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .slider-controls {
    display: none;
  }
}
