.social__list {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

//.social__link {
//  display: inline-block;
//  border: 3px solid #283645;
//  border-radius: 50%;
//}

//.social__link--twitter {
//  padding: 15px 16px 11px 16px;
//}
//
//.social__link--facebook {
//  padding: 14px 21px 10px 21px;
//}
//
//.social__link--youtube {
//  padding: 15px 18px 11px 18px;
//}
