.social__list {
  display: flex;
  justify-content: space-between;
  width: 177px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  background-color: #ffffff;
  border: 3px solid #e9ebec;
  fill: #d22856;

  &:hover {
    border: 3px solid #283645;
  }

  &:focus {
    border: 3px solid #e9ebec;
    opacity: 0.3;
  }
}

.social__link--youtube svg {
  padding-left: 5px;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin-top: 5px;
    margin-left: 75px;
    margin-right: 93px;
  }
}

@media (min-width: @desktop-width) {
  .social__list {
    margin-top: 5px;
    margin-left: 240px;
    margin-right: 225px;
  }
}
