.user-photo {
  margin-top: 25px;
  margin-bottom: 28px;
}

.user-photo__author-name {
  font-weight: 700;
}

.user-photo__post-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-photo__content {
  margin-bottom: 20px;
}

.user-photo__like {
  font-size: 12px;
  color: @red;
  text-decoration: none;
  text-transform: uppercase;
}
