body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-style: normal;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .container {
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}
